#terraform
*.tfvars
*.tfvars.json
*.auto.tfvars

*.tfstate
*.tfstate.*

.terraform.tfstate.lock.info

crash.log
crash.*.log

.terraform

**/.terraform/*

*tfoverride
.envrc

.terraformrc
terraform.rc

#ansible
ansible.cfg
inventory

#vscode
.vscode