services:
  http-korp:
    image: laranjeirajuliano/goapp:final
    container_name: http-korp
    networks:
      - korp_network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - /opt/http-service/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - korp_network

networks:  
  korp_network:
    driver: bridge
